{% extends "base.html" %}

{% block title %}Video{% endblock %}

{% block app_content %}

<html>
  <head>
    <title>Video Streaming Demonstration</title>
  </head>
  <body>
    <h1>视频预览</h1>
    <p>path: {{ filepath }}</p>
    <style type="text/css">
      body{ margin:0px;padding:0px;text-align:center;}
      .main{ width:75%;margin:0px auto;}
    </style>
    <img src="{{ url_for('video_feed', filepath='images'+'\\'+filepath.split('\\')[-1]) }}", width="30%" height="30%">
    <hr>
    <button><a href="{{ url_for('detection', filename=file_url.split('/')[-1]) }}">Detect</a></button>
  </body>
</html>

{% endblock %}
